{% extends "pagination/base.html" %}
{% block content %}

<div class = "card">
    <div class = "card-header">
        <form action="{% url 'listview' %}" method="GET">
            {{ filter_form.as_p }}
            <div class="form-group">
                <button class="btn btn-info" type="submit">Filter</button>
            </div>
        </form>
    </div>
</div>

<br>

<div class="card">
    <div class="card-header">
        <h3>History</h3>
    </div>

    

        {% for post in forms %}
        <div class="card-body">
        <article class="media article-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.id }}</a> <b>{{ post.name }} </b> 
                </div> 
                <small>{{ post.due_date }}</small>
                <hr>
                <b>Comments</b>
                <p>{{ post.text }}</p>
                <hr>
            </div>
        </article>
        <br>
        </div>
        {% endfor %}
    
</div>


{% if is_paginated %}

{% if page_obj.has_previous %}
  <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
{% endif %}

{% for num in page_obj.paginator.page_range %}
  {% if page_obj.number == num %}
    <a class="btn success mb-4" href="?page={{ num }}">{{ num }}</a>
  {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if page_obj.has_next %}
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
  <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
{% endif %}

{% endif %}

{% endblock content %}